
.stock {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 0.25rem;
    background-color: #f8f8ff;
    border-bottom: 1px solid #C3C3C3;
    height: 50px;
    cursor: pointer;
  }
.active_stock{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 0.25rem;
  background-color: #f8f8ff;
  border-bottom: 1px solid #C3C3C3;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 0 20px #000;
}
.icon_adjust{
  display: grid;
  align-items: center;
}
  
  #trend-up {
    width: 46px;
    min-width: 44px;
    height: 36px;
    color: #0ee3b8;
    padding: 0;
  }
  
  #trend-down {
    width: 46px;
    min-width: 44px;
    height: 36px;
    color: #ff2400;
  }
  #delete{
    width: 32px;
    min-width: 30px;
    height: 25px;
    color: #ff2400;
    cursor: pointer;
  }
  #normal{
    visibility: hidden;
    width: 32px;
    min-width: 30px;
    height: 25px;
    color: grey;
  }
  