.main {
    height: 1000px;
    margin-left: 300px; /*might need to change here*/
    background-color: rgb(200, 200, 200);
}


/*=====================================*/
/* Achievement Title */
.achievement_title {
    margin: 0px 0px 0px 40px;
    padding-top: 30px;
    display: flex;
    margin-bottom: 20px;
}

.title_container {
    width: 175px;
    margin-right: 20px;
}

.title_name {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
    width: 175px;
}

.right_rectangle {
    height: 40px;
    width: 100%;
    background-color: #6237a0;
    margin-left: 80px;
}


/*=====================================*/
/* Achievement Number */
.achievement_number {
    position: absolute;
    right: 0px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    width: 100px;
}



/*=====================================*/
/* Achievements Content */
.achievement_top {
    position: absolute;
    margin: 60px 40px 80px 40px;
}

.achievement_row {
    display: flex;
    padding-top: 40px;
}

.achievement_box {
    background-color: #ffffff;
    width: 120px;
    height: 120px;
    border-radius: 20px;
    margin-left: 20px;
}

.achievement_image {
    display: block;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}

.achievement_name {
    position: relative;
    display:flex;
    margin-top: 20px;
    margin-bottom: -40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    text-shadow: 2px 2px #ffffff, -2px -2px #ffffff, 
    -2px 2px #ffffff, 2px -2px #ffffff,
    0px 2px #ffffff, 0px -2px #ffffff,
    -2px 0px #ffffff, 2px 0px #ffffff;
}
.name {
    margin-left: 160px;
    width: 380px;
    height: 1.2rem;
}


.achievement_description {
    margin-left: 20px;
    width: 380px;
    height: 120px;
}
.achievement_description:hover {
    filter: brightness(80%);
}

.description_paragraph {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    padding: 30px 0px;
}



/*=====================================*/
/* color settings for each achievement */
/* needs to switch colors depends on user data */
.achievementTrue {
    border: 4px solid #ff0000;
    filter: grayscale(0%)
}
.descriptionTrue {
    background-color: #30b671ce;
}
.achievementFalse {
    border: none;
    filter: grayscale(100%);
}
.descriptionFalse {
    background-color: #969696;
}