.main {
  background-color: #6237a0;
  margin: 0;
  height: 100vh;
}

.landing_title {
  margin: 30px 0px 0px 40px;
  display: flex;
}

.small_rectangle {
  height: 40px;
  width: 10px;
  background-color: #242626;
  margin-right: 10px;
}
.big_rectangle {
  height: 40px;
  width: 100%;
  background-color: #242626;
  margin-right: 40px;
}
.title_container {
  width: 175px;
  margin-right: 20px;
}

.title_name {
  color: #f4eded;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 32px;
  width: 175px;
}

.button_containers {
  width: 500px;
  height: 100px;
  margin: 100px;
  display: flex;
  gap: 50px;
}

.sign_up {
  cursor: pointer;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 24px;
  background-color: #242626;
  color: #f4eded;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.sign_up:hover {
  filter: brightness(80%);
}
.log_in {
  cursor: pointer;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 24px;
  background-color: #8856f2;
  color: #f4eded;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.log_in:hover {
  filter: brightness(80%);
}
